img{
	width:30%;
	float: left;
	height:400px;
	margin:1.25%;
}
body
{
	/*background-color:pink;*/	
}
h1{
	font-family:"Raleway";
	font-size: 25px;
	font-weight:800	;
	margin-left:1.25%;
	margin-bottom:0;
	padding-bottom:20px;
	border-bottom:2px solid red;
	width:30%;
	/*text-transform: uppercase; */
}
