body
{
	background: url(https://wallpapercave.com/wp/p8fmFoP.jpg);
}
h1
{
	background-color: green;
	color: red;
}
h2
{
	color: rgb(00,00,255);
	border-width: 2px;
	border-color: #FF0000;
	border-style: solid;
}
h3
{
	color:green;
	border : 5px dotted rgba(100,255,30,1);
	background-color: blue;
}
h4
{
	background: red;
}