body{
	margin:5% 20%;
	/*background:pink;*/
	border:20px solid grey;
	font-family:"source sans pro";

}
.pborder{
	border-left:5px solid grey;
}
p{
	padding:0.5%;
	margin:2% 3%;

}
h3{
	text-transform:uppercase;
	color:skyblue;
	margin-left:3%;
	letter-spacing: 2px;

}
h1{
	margin-left:3%;
}
hr{
	margin-left:3%;
	margin-right:3%;
}